USE [quanlysinhvien]
GO
/****** Object:  Table [dbo].[students]    Script Date: 16/09/2026 14:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[student_code] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
	[class_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[students] ([id], [student_code], [full_name], [email], [phone], [class_name]) VALUES (N'e78a09ed-6a65-48ce-be7e-410f6de63c89', N'SV007', N'Đặng Nhật Anh', N'g@gmail.com', N'0966789012', N'C2024A')
INSERT [dbo].[students] ([id], [student_code], [full_name], [email], [phone], [class_name]) VALUES (N'1d5a371b-8809-40a5-920e-4dbc85d896a0', N'SV011', N'Đặng Ngọc Nhớ', N'ngocnhod@gmail.com', N'0812555034', N'IT24C')
INSERT [dbo].[students] ([id], [student_code], [full_name], [email], [phone], [class_name]) VALUES (N'0c8ee03c-184b-4d12-a8b4-6234f1cb531f', N'SV004', N'Phạm Minh Dũng', N'd@gmail.com', N'0933456789', N'C2024A')
